<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <p-toast></p-toast>
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Benvenuto!</div>
                    <span class="text-600 font-medium">Registrati per continuare</span>
                </div>


                <div class="p-fluid">
                    <form (ngSubmit)="register()" [formGroup]="registerForm">
                        <div class="w-full">

                            <label for="name" class="block text-900 text-xl font-medium mb-2 w-full">Nome</label>
                            <input id="name" formControlName="name" type="text" placeholder="Nome" pInputText class="w-full md:w-30rem mb-2" style="padding:1rem">

                            <label for="username" class="block text-900 text-xl font-medium mb-2 w-full">Username</label>
                            <input id="username" formControlName="username" type="text" placeholder="Username" pInputText class="w-full md:w-30rem mb-2" style="padding:1rem">

                            <div class="w-full mb-1">
                                <label for="password" class="block text-900 font-medium text-xl mb-2 w-full">Password</label>
                                <input id="password" formControlName="password" type="password" placeholder="Password" pInputText class="w-full md:w-30rem mb-2" style="padding:1rem">
                            </div>

                            <div class="w-full mb-1">
                                <label for="confirmPassword" class="block text-900 font-medium text-xl mb-2 w-full">Conferma Password</label>
                                <input id="confirmPassword" formControlName="confirmPassword" type="password" placeholder="Password" pInputText class="w-full md:w-30rem mb-2" style="padding:1rem">
                            </div>

                            <p>Hai già un'account? Clicca <a [routerLink]="routes.SLASH + routes.LOGIN">qui</a></p>

                            <button pButton label="Registrati" class="w-full p-3 text-xl" type="submit"></button>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
</div>
