<div class="card mb-5">
    <div class="flex justify-content-between align-items-center mb-5">
        <h5>Valore di ogni categoria</h5>
    </div>
    <div *ngIf="loading">
        <app-skeleton></app-skeleton>
    </div>
    <ul class="list-none p-0 m-0" *ngIf="valori && !loading">
        <li *ngFor="let valore of valori.valoriCategorie" class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
            <div>
                <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{valore.nomeCategoria}}</span>
            </div>
            <div class="mt-2 md:mt-0 flex align-items-center">
                <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                    <div [class]="'h-full ' + classeRiga(valore.percentage)" [ngStyle]="{width: getPercentage(valore.percentage)}"></div>
                </div>
                <span [class]="'ml-3 font-medium ' + classeNumero(valore.percentage)" [ngStyle]="{width: '30px'}">{{valore.percentage.toFixed(1)}}%</span>
            </div>
        </li>
    </ul>
</div>
