@if (label) {
    <label [for]="labelFor ?? uuid">{{ label }}</label>
}

<dui-input-clear [showClear]="showClear" [value]="value" (clear)="handleClear()">
    <p-password
        [toggleMask]="true"
        [class]="inputClass"
        [ngClass]="{ 'ng-dirty': control?.dirty, 'ng-invalid': control?.invalid }"
        style="width: 100%"
        [placeholder]="placeholder"
        [id]="labelFor ?? uuid"
        [autocomplete]="autocomplete"
        [(ngModel)]="value"
        (ngModelChange)="updateValue($event)"
        [disabled]="disabled"
    />
</dui-input-clear>

<dui-validator-errors [control]="control" />
